.side_bar
  .side-header
    .side-header__items
      %p.name
        kawa
      %ul.icons
        %li.icons__edit
          = link_to "#" do
            = icon("far","edit")
        %li.icons__cog
          = link_to "#" do
            = icon("fas","cog")

  .group-list
    .group-list__group
      %p.name
        techcamp
      %p.message
        まだメッセージはありません
